.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 43px;
    height: 100vh;
}

.loginTitle {
    font-size: 36px;
    font-weight: 700;
}

.boxForm {
    display: flex;
    flex-direction: column;
    width: 501px;
    height: 404px;
    padding: 48px 32px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.labelFormLogin {
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: 300;
}

.inputFormLogin {
    width: 100%;
    height: 47px;
    margin-bottom: 17px;
    padding: 14px 16px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.buttonSubmitFormLogin {
    width: 100%;
    height: 48px;
    margin: 32px 0 24px 0;
    border: none;
    border-radius: 5px;
    background: #007AFF;
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
}

.createAccount {
    font-weight: 500;
}

.createAccount a {
    font-weight: 700;
    color: #007AFF;
}